* {
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    height: 100vh;
}

.container {
    height: 100%;
    display: grid;
    grid-template: 1fr  4fr / 1fr 5fr;
}



/*--------------------------------------------------------------------------------------------------------*/



.sidebar {
    background-color: #0284c7;
    color: white;
    font-weight: 600;
    grid-row: 1 / 3;
    display: grid;
    height: 100%;
    min-width: 174px;
    grid-template-rows: 0.01fr 0.1fr 0.2fr;
    align-items: center;
}

.sidebar > * {
    margin-left: 9%;
}

.sidebar > ul:nth-child(2), 
.sidebar > ul:nth-child(3){
    margin-top: 50px;
}


.title {
    font-size: 3vh;
    margin-bottom: 0;
    margin-top: 5px;
}


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar li {
    height: 2rem;
    font-size: 1.3rem;
    margin-top: 7%;
}



.sidebar li > img,
.title > img {
    /*White color to all icons inside a li*/
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(86deg) brightness(107%) contrast(101%);

    position: relative;
    top: 4px;
    height: 100%;
    margin-right: 6%;
}

.title > img {
    height: 3rem;
    top: 15px;
}



/*--------------------------------------------------------------------------------------------------------*/


.header {
    box-shadow: 1px 2px 5px rgb(192, 192, 192);
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr ;
    position: relative;
}



.search-icon,
.search-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    margin: 30px;
    margin-left: 50px;
}

.search-icon > img {
    height: 25px;
    position: relative;
    top: 4px;
}


  .search-input:focus {
    outline: 1px solid rgb(219, 219, 219);
  }

.search-input{
    border: none; 
    width: 85%;
    height: 30px;
    margin-left: 40px;
    border-radius: 20px;
    padding-left: 10px;
    background-color: rgb(227, 231, 238);

}

.upper-right > li > .bell {
       height: 3vh;
}

.upper-right > li > .pp-header {
    height: 5vh;
    border-radius: 10vh;

}

.upper-right {
    display: grid;
    grid-template: 1fr / 8vh 9vh 50%;
    align-items: center;
    font-weight: 600;
}

.bottom-right {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    align-items: center;
    position: relative;
    right: 4vh;
}

/*remove default button styles*/

button{
    background: transparent;
    border: none;
}
button:focus{
    outline: none;
    border: none;
}


.bottom-right button {

    background-color: #0284c7;
    height: 3.9vh;
    width: 10vh;
    border-radius: 2vh;
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
}


.bottom-left {
    display: grid;
    grid-template: 1fr / 1fr 6fr;
    
}

.profile-pic img {
    height: 8vh;
    border-radius: 10vh;
}

.profile-pic {
    justify-self: flex-end;
}

.welcome {
    font-weight: 600;
    margin-left: 20px;
    font-size: 1.3rem;
    position:relative;
    top: 13px;
    word-spacing: 2px;
}

.greeting {
    font-size: 0.85rem;
}

p {
    margin: 0;
    margin-bottom: 8px;
}


/*--------------------------------------------------------------------------------------------------------*/



.main-content {
    grid-column: 2/3;
    grid-row:2/3;
    display: grid;
    grid-template: 1fr / 3.8fr 1fr;
    background-color:rgb(227, 231, 238);
    padding-top: 20px;
}

.main-title {
    grid-row: 1 / 2;
}

.main-title:nth-child(1){
    margin-left: 20px;
}

.main-left {
    grid-column: 1 / 2;
}

.main-right {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
}

.main-right p,
.main-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.card1 ,
.card2{
    height: 26vh;
    width: 22vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgb(192, 192, 192);
    padding: 35px;
    padding-top: 20px;
    margin-right: 2vh;
    margin-bottom: 2.8vh;
    overflow: hidden;
}

.card1 {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
}

.card2 {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
    align-items:baseline;
}

.card1 .content-title,
.card2 .content-title  {
    font-size: 0.85rem;
    height: 10px;
}

.content{
    padding-bottom: 20px;
    
}

.content:nth-child(-n+2) {
    border-bottom: solid 1px rgb(204, 203, 203);
}

.content:nth-last-child(-n+2) {
  margin-top: 20px;
}

.content > .text {
    font-weight: 500;
    color: gray;
    font-size: 0.7rem;
    width: 20vh;
    height: 3vh;
}

.card2 img {
    height: 5vh;
    border-radius: 10vh;
    margin-right: 15px;
}

.user {
    position:relative;
    top: 5px;
    margin: 8px;
    margin-left: 0px;
    bottom: 6px;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

.user > .text {
    color: gray;
    font-size: 0.8rem;
    width: 20vh;
    height: 3vh;
    position: relative;
    top: 20px;
}

.user > .content-title {
    font-size: 0.85rem;
}

.user > .text,
.user > .content-title {
    font-weight: normal;
    grid-column: 2/3;
    grid-row: 1 / 2;
    margin-top: 5px;
}


/*--------------------------------------------------------------------------------------------------------*/

.main-left {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr));
    grid-template-rows: repeat(3, 1fr);
    justify-items: self-start;
}

.project-card {
    width: 50vh;
    height: 24vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgb(192, 192, 192);
}

.project-card:nth-child(odd){
    margin-left: 20px;
}

@media (max-width: 1526px) {

.project-card{
    margin-left: 20px;
    margin-bottom: 10px;
}

.main-right{
        display: grid;
        grid-template: 0.1fr 1fr / 1fr;
}
 }
