* {
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    height: 100vh;
}

.container {
    height: 100%;
    display: grid;
    grid-template: 1fr  4fr / 1fr 5fr;
}





.sidebar {
    background-color: #0284c7;
    color: white;
    font-weight: bold;
    grid-row: 1 / 3;
    display: grid;
    height: 100%;
    min-width: 174px;
    grid-template-rows: 0.01fr 0.1fr 0.2fr;
    align-items: center;
}

.sidebar > * {
    margin-left: 9%;
}

.sidebar > ul:nth-child(2), 
.sidebar > ul:nth-child(3){
    margin-top: 50px;
}


.title {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 5px;
}


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar li {
    height: 2rem;
    font-size: 1.3rem;
    margin-top: 7%;
}



.sidebar li > img,
.title > img {
    /*White color to all icons inside a li*/
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(86deg) brightness(107%) contrast(101%);

    position: relative;
    top: 4px;
    height: 100%;
    margin-right: 6%;
}

.title > img {
    height: 3rem;
    top: 15px;
}





.header {
    box-shadow: 1px 2px 4px rgb(175, 175, 175);
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr ;
}



.search-icon,
.search-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    margin: 30px;
    margin-left: 50px;
}

.search-icon > img {
    height: 25px;
    position: relative;
    top: 4px;
}


  .search-input:focus {
    outline: 1px solid rgb(219, 219, 219);
  }

.search-input{
    border: none; 
    width: 85%;
    height: 30px;
    margin-left: 40px;
    border-radius: 20px;
    padding-left: 10px;
    background-color: rgb(221, 226, 236);

}

.upper-right > li > .bell {
       height: 3vh;
}

.upper-right > li > .pp-header {
    height: 5vh;
    border-radius: 10vh;

}

.upper-right {
    display: grid;
    grid-template: 1fr / 8vh 9vh 50%;
    align-items: center;
    font-weight: 600;
}

.bottom-right {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    align-items: center;
    position: relative;
    right: 4vh;
}

/*remove default button styles*/

button{
    background: transparent;
    border: none;
}
button:focus{
    outline: none;
    border: none;
}


.bottom-right button {

    background-color: #0284c7;
    height: 3.9vh;
    width: 10vh;
    border-radius: 2vh;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}


.bottom-left {
    display: grid;
    grid-template: 1fr / 1fr 6fr;
    
}

.profile-pic img {
    height: 8vh;
    border-radius: 10vh;
}

.profile-pic {
    justify-self: flex-end;
}

.welcome {
    font-weight: bold;
    margin-left: 20px;
    font-size: 1.3rem;
    position:relative;
    top: 13px;
    word-spacing: 2px;
}

.greeting {
    font-size: 0.85rem;
}

p {
    margin: 0;
    margin-bottom: 8px;
}





.main-content {
    grid-column: 2/3;
    grid-row:2/3;
}

